.app_block-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 480px;
    height: 100%;
}

.login_block,
.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_block h3 {
    color: #fff;
    font-family: "Risque";
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 40px;
}

.login_form {
    gap: 20px;
}

.login_form-input {
    width: 380px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 700;
}

.login_form-input input {
    height: 45px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ffc42a;
    background-color: transparent;
    font-size: 25px;
    color: white;
}

.login_form-input input[name="password"] {
    border-bottom: 2px solid white;
    color: #ffc42a;
}

.login_form-input label {
    color: #fff;
}

.login_btn {
    margin-top: 30px;
    border-radius: 10px;
    background: #ffc42a;
    padding: 20px 155px;
    border: none;
    color: #00523f;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}

.login_form-hint {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
}

.login_form-hint span {
    color: #ffc42a;
    cursor: pointer;
    margin-left: 5px;
}

.login_form-hint a {
    color: #ffc42a;
    text-decoration: none;
}

.login_btn:disabled {
    background: #c4a75f;
    cursor: default;
}

.back_to_login-btn {
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    padding: 20px 80px;
    border-radius: 10px;
    border: none;
    background-color: #ffc42a;
    font-size: 20px;
    font-weight: 600;
    color: #00523f;
}

.register_btn:disabled {
    background-color: #e9ce8b;
}

.back_to_login {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 600;
    text-align: center;
    color: #00523f;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
    z-index: 4;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .login_form-hint {
        font-size: 18px;
    }
    .login_block {
        padding-top: 70px;
    }
    .login_block h3 {
        font-size: 36px;
    }
    .login_form-input {
        width: 320px;
        font-size: 16px;
    }
    .login_form button {
        padding: 15px 123px;
    }
    .app_block-login {
        width: 320px;
    }
}

@media only screen and (max-width: 425px) {
    .login_block {
        padding-top: 70px;
    }
    .login_block h3 {
        font-size: 36px;
    }
    .login_form-input {
        width: 300px;
        font-size: 16px;
    }
    .login_form button {
        padding: 15px 115px;
    }
    .app_block-login {
        width: 300px;
    }
}
